.book{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

.container{
    position: absolute;
    height: 50%;
    width: 30%;
    border: 1px solid black;
    border-radius: 25px;
    z-index: 1;
    right: 9%;
    bottom: 25%;
}

.logpass{
    font-family: 'Nunito', sans-serif;
    font-size: 15px; 
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    left: 18%;
    height: 35px;
    width: 250px;
}

.email{
    position: absolute;
    top: 27%;
}

.password{
    position: absolute;
    top: 45%;
}

.btn{
    height: 35px;
    width: 100px;
    position: absolute;
    bottom: 20%;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    border: none;
    outline: none;
    border-radius: 25px;
}

.login{
    position: absolute;
    right: 15%;
    background: green;
    color: white;
}

.register{
    position: absolute;
    left: 18%;
    background: white;
    border: 1px solid  green;
    color: green;
}

.avatar{
    position: absolute;
    border-radius: 100%;
    height: 100px;
    width: 110px;
    top: -60px;
    left: 35%;
}

.forgot{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: gray;
    font-size: small;
    position: absolute;
    right: 15%;
    bottom: 30%;
}

.forgot:hover{
    text-decoration: underline;
    cursor: pointer;
}

i{
    font-size: 25px;
}

.fas{
    position: absolute;
    left: 10%;
}

.fa-user{
    position: absolute;
    top: 30%;
}

.fa-key{
    position: absolute;
    top: 50%;
}

h1{
    position: absolute;
    right: 10%;
    font-family: 'Nunito', sans-serif;
}

.admin
{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: gray;
    font-size: small;
    position: absolute;
    left: 38%;
    bottom: 5%;
}

.admin:hover{
    text-decoration: underline;
    cursor: pointer;
}